#### DICTIONARY
- unindexed
- unordered -> ordered from 3.7
- key : value pairs
- keys are always unique
- keys are immutable(string or tuple)
- values can be of any type
- {}
- dict()

In [4]:
bigbasket={'apple':120,
          'onion': 23,
          'tomato': 55,
          'lemon': 60,
          'orange': 55,
          'beans':43}

In [3]:
bigbasket['lemon']

60

In [1]:
bigbasket['ginger']  #key error

NameError: name 'bigbasket' is not defined

In [6]:
#no slicing or indexing
for i in bigbasket:
    print(i)
    print(bigbasket[i])

apple
120
onion
23
tomato
55
lemon
60
orange
55
beans
43

In [7]:
n= {i for i in bigbasket if i.startswith('a')}

In [8]:
n

{'apple'}

In [11]:
s= sum({bigbasket[i] for i in bigbasket})

In [12]:
s

301

### FUNCTIONS

In [13]:
bigbasket.update({'watermelom':25}) # to enter a new value

In [14]:
bigbasket

{'apple': 120,
 'onion': 23,
 'tomato': 55,
 'lemon': 60,
 'orange': 55,
 'beans': 43,
 'watermelom': 25}

In [15]:
bigbasket['peach']=120 #add

In [16]:
bigbasket['apple']= 150 #update

In [17]:
bigbasket

{'apple': 150,
 'onion': 23,
 'tomato': 55,
 'lemon': 60,
 'orange': 55,
 'beans': 43,
 'watermelom': 25,
 'peach': 120}

In [18]:
bigbasket.pop('peach')  # key error if value not found

120

In [19]:
bigbasket.popitem() # removes the last element

('watermelom', 25)

In [20]:
bigbasket

{'apple': 150,
 'onion': 23,
 'tomato': 55,
 'lemon': 60,
 'orange': 55,
 'beans': 43}

In [21]:
bigbasket.keys() # use the list function for printing in a list

dict_keys(['apple', 'onion', 'tomato', 'lemon', 'orange', 'beans'])

In [22]:
bigbasket.values()

dict_values([150, 23, 55, 60, 55, 43])

In [23]:
bigbasket.items() # for printing both

dict_items([('apple', 150), ('onion', 23), ('tomato', 55), ('lemon', 60), ('orange', 55), ('beans', 43)])

In [29]:
a=sum(bigbasket.values())

In [31]:
c=0
for i in bigbasket:
    c+=1
t= a/c
print(t)

64.33333333333333

In [32]:
sum(bigbasket.values())/len(bigbasket)

64.33333333333333

#### Q:  wap to take input from user for their friends name and number

In [39]:
friends={}
for i in range(10):
    name= input('name:')
    no= input('no:')
    friends[name]= no
print(friends)

name: a
no: 1
name: b
no: 2
name: c
no: 3
name: d
no: 4
name: f
no: 5
name: h
no: 5
name: j
no: 6
name: k
no: 8
name: l
no: 8
name: s
no: 9

{'a': '1', 'b': '2', 'c': '3', 'd': '4', 'f': '5', 'h': '5', 'j': '6', 'k': '8', 'l': '8', 's': '9'}

In [1]:
power={}
c=0
for i in range(5):
    c=c+1
    n= int(input('value:'))
    d=n**c
    power[n]=d
for i,j in power.items():
    print(i,j)

value: 2
value: 3
value: 4
value: 5
value: 6

2 2
3 9
4 64
5 625
6 7776

In [1]:
n= int(input())
d={}
for i in range(n):
    k,v= map(str,input().split())
    d[k]=v
for i in d:
    if sum(list(map(int,d[i])))%2==0:
        print(i[-2:]+i[:-2],end=" ")
    else:
        print(i[1:]+i[0],end=" ")

 3
 ABCD 1234
 BCDGFHF 127836
 SDJKS 1245

CDAB CDGFHFB KSSDJ

In [4]:
def s(k):
    t= sum(list(map(int,str(k))))
    return t
def solve(a,m,n):
    for i in range(m-1):
        for j in range(n-1):
            if a[i][j]%s(a[i][j])==0 and a[i][j+1]%s(a[i][j+1])==0 and a[i+1][j]%s(a[i+1][j])==0 and a[i+1][j+1]%s(a[i+1][j+1])==0:
                print(a[i][j],end=" ")
                print(a[i][j+1])
                print(a[i+1][j],end=" ")
                print(a[i+1][j+1])
                print("\n")
a=[[42,54,2],
  [30,24,27],
  [180,190,40],
  [11,121,13]]
solve(a,4,3)

42 54
30 24


54 2
24 27


30 24
180 190


24 27
190 40